/**
 * VARIABLES
 */
:root {
  --color-primary: #77738d;
  --color-secondary: #f6c2c2;
  --color-bg: #ffecd4;
  --color-text: #485a74;
  --color-light: #f3f3f3;
  --color-success: #067973;
  --color-success-bg: #f5fffe;
  --color-error: #b71540;
  --color-error-bg: #fdeff3;
  --color-shadow: rgba(23, 11, 41, 0.12);
  --font-base-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  --font-heading-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  --measure: 60ch;
  --metric-rhythm: 2rem;
  --metric-gutter: 2rem;
  --metric-box-padding: 1rem 1rem;
  --metric-interaction-padding: 0.6rem 0.6rem;
}

/** 
 * GLOBAL STYLES 
 */
body {
  font-family: var(--font-base-family, sans-serif);
  display: grid;
  place-items: center;
  background: var(--color-light);
  color: var(--color-text);
  padding: var(--metric-gutter, 2rem);
}

h1 {
  font-family: var(--font-heading-family, sans-serif);
  font-size: 2rem;
  font-weight: 900;
  color: var(--color-primary);
  line-height: 1.1;
}

label {
  color: var(--color-primary);
  text-transform: uppercase;
  font-weight: 700;
}

input[type],
button {
  border: none;
  margin: 0;
  font: inherit;
  line-height: 1;
  padding: 0.8rem;
  padding: var(--metric-interaction-padding);
  outline-offset: -1px;
}

@media screen and (-ms-high-contrast: active) {
  input[type],
  button {
    border: 1px solid;
  }
}

a {
  color: var(--color-secondary);
}

/**
 * FLOW UTILITY
 */
.flow {
  --flow-space: var(--metric-rhythm);
}

.flow > * + * {
  margin-top: 1em;
  margin-top: var(--flow-space);
}

/**
 * CENTER UTILITY
 */
.center {
  box-sizing: content-box;
  margin-left: auto;
  margin-right: auto;
  max-width: var(--measure);
}

.text-center {
  text-align: center;
}

/**
 * BOX UTILITY
 */
.box {
  padding: var(--metric-box-padding);
  color: var(--color-primary);
  background-color: var(--color-bg);
}

.box * {
  color: inherit;
}

.box__invert {
  background-color: var(--color-secondary);
}

/**
 * GLOBAL FOCUS
 */
:focus {
  outline: 1px solid var(--color-primary);
}

/** 
 * VISUALLY HIDDEN UTILITY
 */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

/**
 * INPUT
 */
.input {
  max-width: 20rem;
}

.input__form + .input__alert {
  --flow-space: 1rem;
}

/** 
 * INLINE FIELD CONTROL
 */
.inline-field-control {
  --flow-space: 0.5rem;
  display: flex;
  box-shadow: 0 2px 10px var(--color-shadow);
}

.inline-field-control input {
  flex: auto;
}

/**
 * BUTTON
 */
.button {
  background: var(--color-secondary);
  color: var(--color-primary);
  font-size: 1.6rem;
  min-width: 3.5rem;
  cursor: pointer;
}

.button:hover {
  filter: brightness(1.05);
}

.button svg {
  transform: translateY(1px); /* Optical adjustment */
}

/** 
 * ALERT COMPONENT
 */
.alert {
  --alert-text: var(--color-text);
  --alert-bg: var(--color-bg);

  display: flex;
  align-items: flex-start;
  background: var(--alert-bg);
  color: var(--alert-text);
  border: 1px solid;
  padding: var(--metric-box-padding);
  margin-top: 1rem;
}

.alert[data-state='error'] {
  --alert-text: var(--color-error);
  --alert-bg: var(--color-error-bg);
}

.alert[data-state='success'] {
  --alert-text: var(--color-success);
  --alert-bg: var(--color-success-bg);
}

.alert__icon {
  font-size: 1.6em;
  flex-shrink: 0;
}

.alert__content {
  padding-left: 0.8rem;
}

.alert__content b {
  display: block;
}
